.active  {
    color: red
}

.page-number {
    margin: 0 3px;
    cursor: pointer;
    padding: 3px 13px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-family: sans-serif;
}

.page-number:hover {
    background: #eee;
    border-color: transparent;
}

.App {
    user-select: none;
}
